<div class="wrapper" style="margin-top: 67px;">
    <!-- Header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)" ng-click="createProject()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Create</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="profil-link">
                        <a href="javascript:void(0)">
                            <span class="profile-address padding-4">{{loginId}}</span>
                            <span class="padding-4"><i class="fa fa-sign-out fa-2" aria-hidden="true" title="Logout" ui-sref="signIn"></i><span>
                            <span class="padding-4"><i class="fa fa-user-circle fa-2" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <aside class="navigation-panel">
        <nav style="height:94%">
            <ul class="nav dash-nav">
                <li class="nav-category files-data">
                    Files Tree Directive required
                </li>
                <li class="nav-category">
                    <ul class="nav dash-nav">
                        <li>
                            join
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- Header-->
    <section class="content">
        <div class="container-fluid">
            <div class="row drawingArea-data">
                Drag n drop and drawing using <a target="_blank" href="https://www.jointjs.com/"> https://www.jointjs.com/ </a>
            </div>            
            <div class="col-md-12 row" ng-if="isCollapsePanel">
                <div class="cpanel">
                    <div class="cpanel-heading">
                        <div class="cpanel-tools">
                            <a class="cpanel-toggle" ng-click="showHidePanel($event)"><i class="fa fa-chevron-up"></i></a>
                            <a class="cpanel-close"><i class="fa fa-times" ng-click="removePanel($event)"></i></a>
                        </div>                       
                    </div>
                    <div class="cpanel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Street Address</th>
                                        <th>City</th>
                                        <th>Country</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Abraham</td>
                                        <td>076 9477 4896</td>
                                        <td>294-318 Duis Ave</td>
                                        <td>Vosselaar</td>
                                        <td>Belgium</td>
                                    </tr>
                                    <tr>
                                        <td>Phelan</td>
                                        <td>0500 034548</td>
                                        <td>680-1097 Mi Rd.</td>
                                        <td>Lavoir</td>
                                        <td>Pakistan</td>
                                    </tr>
                                    <tr>
                                        <td>Raya</td>
                                        <td>(01315) 27698</td>
                                        <td>Ap #289-8161 In Avenue</td>
                                        <td>Santomenna</td>
                                        <td>Burkina Faso</td>
                                    </tr>
                                    <tr>
                                        <td>Azalia</td>
                                        <td>0500 854198</td>
                                        <td>226-4861 Augue. St.</td>
                                        <td>Newtown</td>
                                        <td>Christmas Island</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
